<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Global Freedom Movement</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/container.css">
  <link rel="stylesheet" href="css/form.css">
  <script src="https://kit.fontawesome.com/80d236052e.js" crossorigin="anonymous"></script>
  <script>
    console.log("layout received environment variables: ", '<%- environmentVars.environment %>', '<%- environmentVars.port %>')
    let port = '<%- environmentVars.port %>', domain = '<%- environmentVars.domain %>', environment = '<%- environmentVars.environment %>'
    let endpoint
    if (environment === 'developement') {
      // http://localhost:3005
      endpoint = `${window.location.protocol}//${domain}:${port}`
    } else if (environment === 'staging'){
      // http://hidden-plateau-87550.herokuapp.com
      // https://hidden-plateau-87550.herokuapp.com
      // endpoint = `${window.location.protocol}//${domain}`
      endpoint = `https://${domain}`
    }
  </script>
</head>
<body>
  <%- body %>
</body>
</html>